.myprofilehero{
    margin-bottom: 20px;
}

.patientHeadline{
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
}

.PatientSearch{
    text-align: center;
    margin: 20px 0;
}

.PatientSearch input{
    margin: 0;
    border-radius: 20px;
    background-color: #f8f9fa;
    width: 80%;
    max-width: 1000px;
    transition: all 0.5s ease;
}

.PatientSearch input:hover{
    background-color: #e6e9eb;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.fa-magnifying-glass{
    margin-right: 10px;
}

.fa-qrcode{
    margin:15px;
    scale: 150%;
    color: rgba(0, 0, 0, 0.468);
    transition: all 0.5s ease;
}

.fa-qrcode:hover{
    transition: all 0.5s ease;
    color: rgb(9, 9, 9);
    transform: scale(0.85);
    cursor: pointer;
}

.patientlist{
    box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.3);
    max-width: 90%;
    margin: auto;
}
