.myprofilehero{
    margin-bottom: 20px;
}

.patientHeadline{
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
}

.PatientSearch{
    text-align: center;
    margin: 20px 0;
}

.PatientSearch input{
    margin: 0;
    border-radius: 20px;
    background-color: #f8f9fa;
    width: 80%;
    max-width: 1000px;
}

.PatientSearch input:hover{
    
}

.fa-magnifying-glass{
    margin-right: 10px;
}

.patientlist{
    box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.3);
    max-width: 90%;
    margin: auto;
}
