.notification-card{
    display: flex;
    justify-content: space-between;
    border: 0.5px rgba(96, 95, 95, 0.105) solid;
    padding: 16px;
    transition: all 0.5s ease;
    align-items: center;
}

.notification-card:hover{
    box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
