.covid-history-container {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 3s ease, transform 60s ease;
    display: flex;
    justify-content: center; 
    align-items: center;
  }

  .covid-history-container.animate {
    opacity: 1;
    transform: translateY(0);
  }

  .chart-container {
    width: 100%;
    height: auto;
  }
