.map-container {
    height: 700px;
    width: 100%;
}

.info.legend {
    h4{
        text-align: center;
        text-transform: uppercase;
    }
    background: white;
    line-height: 1.5;
    padding: 6px 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }

  .info.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
  }
