.cardContainer{
    display: flex;
    justify-content: space-between;
    border: 0.5px rgba(96, 95, 95, 0.105) solid;
    padding: 16px;
    transition: all 0.5s ease;
}

.cardContainer:hover{
    box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.3);
}

.fa-trash-can{
    margin-right: 10px;
}

.apptTitle{
    width: 600px;
}

.apptTime{
    width: 200px;
    text-align: center;
}

.apptDate{
    width: 100px;
}

.fa-trash-can{
    color: red;
    transition: all 0.5s ease;
}

.fa-trash-can:hover{
    cursor: pointer;
    color: rgb(194, 31, 31);
}

.fa-pen-to-square{
    color: rgb(1, 1, 103);
}

.fa-pen-to-square:hover{
    cursor: pointer;
}
