.myprofilehero {
    position: relative;
    overflow: hidden;
    height: 15vh;
    width: 100%;
    box-shadow: inset 0 -8px 20px rgba(0, 0, 0, 0.5);
}

.myprofilehero::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
  }

  .hero-content h1{
    text-transform: uppercase;
  }

  .createProfileButton, .createApptButton{
    margin: 20px;
    text-align: center;
  }

  .createProfileButton button{
    background-color: white;
    border: none;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
  }

  .createProfileButton button:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    color: white;
    background-color: black;
  }

.createApptButton button{
    background-color: rgb(5, 130, 16);
    border: none;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    color: white;
}

.createApptButton button:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    color: white;
    background-color: black;
}

.appointments{
    padding-top: 40px;
}

.apptList{
    /* border: 1px black solid; */
    box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.3);
    max-width: 90%;
    margin: auto;
}

.apptHeadline{
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
}
