.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 90%;
    max-width: 1000px;
  }

.modal-controls{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
}
  form {
    display: flex;
    flex-direction: column;
  }

  input, textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button[type="submit"], .close-button {
    padding: 5px;
    border: none;
    border-radius: 5px;
    background: #2a2d30;
    color: #fff;
    cursor: pointer;
  }
