nav {
    display: flex;
    justify-content: center;
    padding: 1rem;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1000;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
  }

  nav a {
    font-size: x-small;
    text-decoration: none;
    color: white;
    margin: 0 1rem;
    transition: all 0.5s ease;
  }

  nav a:hover{
    color: rgba(255, 255, 255, 0.622);
    transform: scale(0.92);
  }

