@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}


.hero {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  box-shadow: inset -10px -10px 20px rgba(0, 0, 0, 0.5);
}

.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.video-background{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.hero-content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  opacity: 0;
  animation: fadeIn 1s ease-in-out 0.5s forwards;
}

.hospitalname{
  margin: 10px 20px;
  font-size: 60px;
}

.hero-content a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: x-small;
  transition: all 0.5s ease;
}

.hero-content a:hover{
  color: rgba(255, 255, 255, 0.622);
  transform: scale(1.5);
}

.hero-content p{
  margin-top: 10px;
}

.hero .container {
  max-width: 800px;
  margin: auto;
}

.hospital-info{
  border: 1px black solid;
  height: auto;
  padding: 50px;
  line-height: 1.6;
}

.hospital-info h1{
  font-size: 400%;
  margin: 10px;
}

.hospital-info p{
  font-size: 150%;
}

.read-more {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
  text-align: center;
  transition: all 0.5s ease;
}

.read-more:hover{
  background-color: rgb(208, 205, 205);
  color: black;
  transform: scale(0.96);
}

.more-text {
  transition: max-height 0.5s ease-out;
}

.vision-and-mission{
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 30px;
  padding-top: 30px;
}

.vision-and-mission h1{
  font-size: 400%;
  transition: opacity 3s ease;
}

.vision-and-mission p{
  font-size: 200%;
  transition: opacity 3s ease;
}

.vision,
.mission{
  width: 49%;
  padding: 30px;
  max-height: 600px;
  height: 600px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;

}

.affiliations{
  height: 150px;
  overflow: hidden;
  position: relative;
  align-items: center;
  margin-bottom: 30px;
}

.affiliations .inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 100px;
  animation: moveLeft 20s linear infinite;
  width: 200%;
}

.affiliations img:not(.coat-of-arms, .cac){
  height: 80px;
}

.coat-of-arms{
  height: 200px;
}

.cac{
  height: 130px;
}

.contact{
  margin-top: 5%;
  display: flex;
  align-items: center;
  gap: 50px;
}

.physician-brief{
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: right;
  gap: 10px;
}

.text{
  width: 50%;
  font-size: medium;
  text-align: right;
}

.physician-brief img{
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.contact-info{
  width: 50%;
}


@media (max-width: 1000px) {
  .vision-and-mission{
    flex-direction: column;
  }

  .vision,
  .mission{
    width: 100%;
  }
}
