
.hero {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  box-shadow: inset -10px -10px 20px rgba(0, 0, 0, 0.5);
}

.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.video-background{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.hero-content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

.hospitalname{
  margin: 10px 0 10px 0;
  font-size: 60px;
}

.hero-content a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: x-small;
  transition: all 0.5s ease;
}

.hero-content a:hover{
  color: rgba(255, 255, 255, 0.622);
  transform: scale(1.5);
}

.hero-content p{
  margin-top: 10px;
}

.feature {
  padding: 50px 0;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #f8f9fa;
  width: 100%;
}

.hero .container {
  max-width: 800px;
  margin: auto;
}

.feature .container {
  max-width: 800px;
  margin: auto;
}

.feature .row {
  display: flex;
  justify-content: space-around;
}

.feature .col-md-4 {
  flex: 1;
  margin: 1rem;
}

.feature .fa {
  margin-bottom: 1rem;
}


@media (max-width: 600px) {

}
