body{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.logincontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.entry{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px ;
}

.welcomecontainer{
    width: 40%;
}

.welcomecontainer h1{
    font-size: 4.6rem;
    margin-bottom: 5px;
}

.socialmediaicons{
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.authenticationcontainer{
    width: 30%
}

.authenticationcontainer h2{
    text-align: center;
}

.authenticationcontainer p,
.authenticationcontainer label{
    font-size:x-small;
}

button:hover{
    cursor: pointer;
}

.role,
.signupbutton{
    text-align: center;
}

.userRole{
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.signupbutton{
    margin-bottom: 10px;
}

@media (max-width: 1000px) {
    .logincontainer{
        flex-direction: column;
    }

    .welcomecontainer{
        width: 60%;
        text-align: center;
        justify-content: center;
        margin-bottom: 30px;
    }

    .socialmediaicons{
        width: 100%;
        justify-content: center;
        gap: 20px;
    }

}
